@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Noto+Sans+KR:wght@100&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Noto+Sans+KR:wght@100&display=swap');

:root {
            --accent: #04da97;
            --border-width: 6px;
            --border-radius: 55px;
            --font-size: 30px;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-family: 'Crete Round', serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .container {
            max-width: 600px; /* 컨테이너의 최대 너비를 설정 */
            padding: 20px;
            text-align: center; /* 컨테이너 내용을 가운데로 정렬 */
        }

        .btn-check {
            display: none;
            font-family: 'Crete Round', serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .btn-check2 {
            display: none;
            font-family: 'Crete Round', serif;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .btn {
            padding: 15px 30px; /* 버튼의 가로 및 세로 패딩 조정 */
            font-size: 16px; /* 버튼 텍스트 크기 조정 */
            border: 1px solid #ccc;
            background-color: #cccc;
            cursor: pointer;
            border-radius: 35px;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            margin: 10px; /* 버튼 간격 조정 */
            display: inline-block; /* 버튼을 가로로 배치 */
        }

        .btn-toggle:checked + .btn {
            background-color: var(--accent);
            color: black;
            border-color: var(--accent);
        }

        /* 레이블과 체크박스 사이의 간격 조정 */
        .btn-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .btn-container label {
            margin: 5px;
        }

        /* 모바일 기기용 미디어 쿼리 */
        @media (max-width: 768px) {
            .container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .btn {
                padding: 12px 24px; /* 모바일 기기용 버튼 패딩 조정 */
                font-size: 14px; /* 모바일 기기용 버튼 텍스트 크기 조정 */
            }
        }