@charset "UTF-8";
	.btn{
		opacity:0;
	}
		
	.btn>label{
		padding: 5px 10px; border:1px solid #ccc; border-radius:3px
	}
	
	input[type=radio]:checked + label 
	{
		background: #ccc;
		color: white;
	}