@charset "UTF-8";

div {
	display: block;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#image{
	width:1200px;
	height:400px;
}

#title {
	margin-top: 50px;
    font-size: 50px;
}

#content {
	margin-top: 30px;
}